.card-0-2-518 {
  padding: 16px;
  position: relative;
  background: #ffffff;
  transition: 0.3s box-shadow, 0.3s transform;
  border-radius: 6px;
}
@media screen and (min-width:768px) {
  .card-0-2-518 {
    padding: 32px;
  }
}
.cardNoPadding-0-2-519 {
  padding: 0;
  position: relative;
  background: #ffffff;
  transition: 0.3s box-shadow, 0.3s transform;
  border-radius: 6px;
}
@media screen and (min-width:768px) {
  .cardNoPadding-0-2-519 {
    padding: 0;
  }
}
.flat-0-2-520 {
  z-index: auto;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.12), 0 1px 6px 0 rgba(0,29,124,0.05);
}
.rest-0-2-521 {
  z-index: auto;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.0), 0 0 0 0 rgba(0,29,124,0);
}
.raised-0-2-522 {
  z-index: 4;
  box-shadow: 0 12px 9px -5px rgba(0,0,0,0.12), 0 10px 32px 0 rgba(0,29,124,0.12);
}
.raisable-0-2-523:hover {
  z-index: 4;
  transform: translateY(-4px);
  box-shadow: 0 12px 9px -5px rgba(0,0,0,0.12), 0 10px 32px 0 rgba(0,29,124,0.12);
}
.card-0-2-518 {
  padding: 16px;
  position: relative;
  background: #ffffff;
  transition: 0.3s box-shadow, 0.3s transform;
  border-radius: 6px;
}
@media screen and (min-width:768px) {
  .card-0-2-518 {
    padding: 32px;
  }
}
.cardNoPadding-0-2-519 {
  padding: 0;
  position: relative;
  background: #ffffff;
  transition: 0.3s box-shadow, 0.3s transform;
  border-radius: 6px;
}
@media screen and (min-width:768px) {
  .cardNoPadding-0-2-519 {
    padding: 0;
  }
}
.flat-0-2-520 {
  z-index: auto;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.12), 0 1px 6px 0 rgba(0,29,124,0.05);
}
.rest-0-2-521 {
  z-index: auto;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.0), 0 0 0 0 rgba(0,29,124,0);
}
.raised-0-2-522 {
  z-index: 4;
  box-shadow: 0 12px 9px -5px rgba(0,0,0,0.12), 0 10px 32px 0 rgba(0,29,124,0.12);
}
.raisable-0-2-523:hover {
  z-index: 4;
  transform: translateY(-4px);
  box-shadow: 0 12px 9px -5px rgba(0,0,0,0.12), 0 10px 32px 0 rgba(0,29,124,0.12);
}
.card-0-2-554 {
  padding: 24px 32px;
  position: relative;
  margin-bottom: 8px;
}
@media screen and (max-width:575px) {
  .card-0-2-554 {
    padding: 16px 24px;
  }
}
@media screen and (min-width:576px) {
  .card-0-2-554:hover {
    z-index: 4;
    transform: translateY(-4px);
    box-shadow: 0 12px 9px -5px rgba(0,0,0,0.12), 0 10px 32px 0 rgba(0,29,124,0.12);
  }
}
.standout-0-2-555:before {
  top: 0;
  left: 0;
  width: 4px;
  bottom: 0;
  content: "";
  position: absolute;
  background-color: #001d7c;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
@media screen and (min-width:992px) {
  .activeCard-0-2-556 {
    background-color: #e4edff;
  }
}
.job-0-2-557 {
  color: #222222;
  display: inline-block;
  margin-top: 0;
  line-height: 1.4;
  margin-right: 8px;
  margin-bottom: 0;
}
.cardContent-0-2-558 {
  margin: 0;
  z-index: 1;
  position: relative;
  pointer-events: none;
}
.jobcard-0-2-559 {
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
  height: 100%;
  z-index: 1;
  position: absolute;
}
.jobcard-0-2-559:focus {
  outline: none;
}
.salary-0-2-560 {
  margin-right: 8px;
}
.metadata-0-2-561 {
  margin: 0;
}
.statusLabel-0-2-562 {
  margin-left: 4px;
}
.recommendedLabel-0-2-563 {
  overflow: visible;
}
.spaceBottom-0-2-564 {
  margin-bottom: 16px;
}
.locContainer-0-2-565 {
  color: #222222;
  height: 16px;
  pointer-events: auto;
}
.locContainer-0-2-565:hover, .locContainer-0-2-565:focus, .locContainer-0-2-565:active {
  color: #222222;
}
@media screen and (min-width:576px) {
  .locContainer-0-2-565 {
    color: #222222;
  }
  .locContainer-0-2-565:hover, .locContainer-0-2-565:focus, .locContainer-0-2-565:active {
    color: #222222;
  }
}
.linkContainer-0-2-566 {
  margin: 0;
}
.companyLink-0-2-567 {
  text-decoration: none;
}
.date-0-2-568 {
  margin-right: 8px;
}
.logo-0-2-569 {
  display: block;
}
.visited-0-2-570 .job-0-2-557 {
  color: #777777;
}
.visited-0-2-570 .metadata-0-2-561 {
  color: #777777;
}
.visited-0-2-570 .salary-0-2-560 {
  color: #777777;
}
.visited-0-2-570 .descriptionText-0-2-575 {
  color: #777777;
}
.visited-0-2-570 .li-0-2-579 {
  color: #777777;
}
.visited-0-2-570 .locContainer-0-2-565 {
  color: #777777;
}
.visited-0-2-570 .date-0-2-568 {
  color: #777777;
}
.visited-0-2-570 a {
  color: #777777;
}
.gridContainer-0-2-571 {
  padding: 0;
}
.formatCol-0-2-572 {
  padding: 0;
}
.minBottom-0-2-573 {
  margin-bottom: 16px;
}
@media screen and (max-width:575px) {
  .minBottom-0-2-573 {
    margin-bottom: 8px;
  }
}
.smallBottomSpace-0-2-574 {
  margin-bottom: 16px;
}
@media screen and (max-width:575px) {
  .smallBottomSpace-0-2-574 {
    margin-bottom: 4px;
  }
}
.descriptionText-0-2-575 {
  width: 554px;
  margin: 0;
}
@media screen and (min-width:1200px) {
  .descriptionText-0-2-575 {
    width: 622px;
  }
}
.longWord-0-2-576 {
  word-break: break-word;
}
.ribbonCol-0-2-577 {
  margin-bottom: 8px;
}
.ul-0-2-578 {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
}
.li-0-2-579 {
  color: #222222;
  margin: 0;
  display: block;
  position: relative;
  text-indent: -18px;
  padding-left: 19px;
  margin-bottom: 4px;
}
.li-0-2-579:before {
  width: 3px;
  height: 3px;
  content: "";
  display: inline-block;
  background: #222222;
  margin-right: 16px;
  border-radius: 50%;
  margin-bottom: 2px;
}
.visibleContent-0-2-580 {
  display: none;
}
.topIcon-0-2-581 {
  margin-top: 3px;
}
@media screen and (max-width:575px) {
  .noClickable-0-2-582 {
    pointer-events: none;
  }
}
.recommended-0-2-583 {
  right: 0;
  position: absolute;
}
.categoryArrow-0-2-584 {
  margin: 0 4px -2px 4px;
}
